RewriteEngine On
RewriteBase /

ErrorDocument 404 http://www.hcodecommerce.com.br

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

Redirect 301 /vendor http://www.hcodecommerce.com.br